---
layout: default
---



<!-- background-image: url(bg_new.png); -->
<div class="main-content index-page clearfix" style="min-height: 600px;  background-color: black;z-index:1; background-size: unset; background-repeat: no-repeat;">
    
    <div  id="background_anima_div" class="background_anima" style="background-image: url(final_animate.png)"  ></div>

    <div  style="height:100px">
        <div>
            <!--  <iframe src="{{ 'myScript/background.html' |prepend : site.baseurl    }}"  style="width:100%;height:100%;z-index:-1000; max-width:100%;" align="center"></iframe>  -->
        </div>
        <!-- id="particles-js"  -->
        <!-- <center>
            <a style="max-width:50%" href="{{ '/myScript/1.html' | prepend: site.baseurl }}">
                <img  class="sirius_logo"   alt="sirius!" src="{{ '/logo2.png' | prepend: site.baseurl }}">
            </a>
        </center> -->
    </div>



    <div class="post-lists" id="cate-physics-post-lists">
        <!-- <script src="particles.js"></script> -->
        <!-- <script src="app.js"></script> -->
        <div class="cate-physics"> <button id="cate-physics-bnt" class="cate-bnt"> PHYSICS </button> </div>

        <div class="post-lists-body" id="cate-physics-post-lists-body">
            {% for post in paginator.posts %} {% if post.cate == "phy" %}
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <!-- <div class="item-thumb bg-deepgrey"
                        style="background-image:url({% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/style/image/thumbnail.png' | prepend: site.baseurl }}{% endif %});">
                    </div> -->
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <div class="item-desc">
                            <p>{{ post.content | strip_html | strip_newlines | truncate: 128 }} </p>
                        </div>
                    </a>
                    <!-- <div class="item-slant reverse-slant bg-deepgrey"></div> -->
                    <!-- <div class="item-slant"></div> -->
                    <div class="item-label">
                        <div class="item-title" href="{{ post.url | prepend: site.baseurl }}" ><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            <br /> {{ post.date | date: "%b %d, %Y" }}
                        </div>
                        <!-- <div class="item-meta clearfix">
                            <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}"
                                style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat;background-size: 40px auto;">
                            </div>
                            <div class="item-meta-cat">
                                <a href="javascript:void(0);">{{ post.category }}</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>

    <div class="post-lists" id="cate-CS-post-lists">
        <!-- <script src="particles.js"></script> -->
        <!-- <script src="app.js"></script> -->
        <div class="cate-physics"> <button id="cate-Fun-bnt" class="cate-bnt"> Fun </button> </div>

        <div class="post-lists-body" id="cate-CS-post-lists-body">
            {% for post in paginator.posts %} {% if post.cate == "Fun" %}
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <!-- <div class="item-thumb bg-deepgrey" style="background-image:url({% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/style/image/thumbnail.png' | prepend: site.baseurl }}{% endif %});">
                    </div> -->
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <div class="item-desc">
                            <p>{{ post.content | strip_html | strip_newlines | truncate: 128 }} </p>
                        </div>
                    </a>
                    <!-- <div class="item-slant reverse-slant bg-deepgrey"></div> -->
                    <!-- <div class="item-slant"></div> -->
                    <div class="item-label">
                        <div class="item-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            <br /> {{ post.date | date: "%b %d, %Y" }}
                        </div>

                        <!-- <div class="item-meta clearfix">
                            <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}"
                                style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat;background-size: 40px auto;">
                            </div>
                            <div class="item-meta-cat">
                                <a href="javascript:void(0);">{{ post.category }}</a>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>



    <div class="post-lists" id="cate-CS-post-lists">
        <!-- <script src="particles.js"></script> -->
        <!-- <script src="app.js"></script> -->
        <div class="cate-physics"> <button id="cate-CS-bnt" class="cate-bnt"> ELSE </button> </div>

        <div class="post-lists-body " id="cate-CS-post-lists-body">
            {% for post in paginator.posts %} {% if post.cate == "CS" %}
            <div class="post-list-item">
                <div class="post-list-item-container">
                    <!-- <div class="item-thumb bg-deepgrey" style="background-image:url({% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/style/image/thumbnail.png' | prepend: site.baseurl }}{% endif %});">
                    </div> -->
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <div class="item-desc">
                            <p>{{ post.content | strip_html | strip_newlines | truncate: 128 }} </p>
                        </div>
                    </a>
                    <!-- <div class="item-slant reverse-slant bg-deepgrey"></div> -->
                    <!-- <div class="item-slant"></div> -->
                    <div class="item-label">
                        <div class="item-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            <br /> {{ post.date | date: "%b %d, %Y" }}
                        </div>

                        <!-- <div class="item-meta clearfix">
                            <div class="item-meta-ico {% if post.icon %}bg-ico-{{ post.icon }}{% endif %}"
                                style="background: url({{ '/style/image/bg-ico.png' | prepend: site.baseurl }}) no-repeat;background-size: 40px auto;">
                            </div>
                            <div class="item-meta-cat">
                                <a href="javascript:void(0);">{{ post.category }}</a>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>


    <script>
        handle_background_anima('background_anima_div')
        var anima_timer=0
        var anima_timer_1=0
        var anima_timer_2=0
        $($('.post-lists-body')[0]).hover( function(){ anima_timer= handle_background_anima('background_anima_div')  } , 
        ()=>{  clearInterval(anima_timer) 
            // $("#background_anima_div").css("background-position-x")=-35 
         }  )

        $($('.post-lists-body')[1]).hover( function(){ anima_timer_1= handle_background_anima('background_anima_div')  } , 
        ()=>{  clearInterval(anima_timer_1) 
            // $("#background_anima_div").css("background-position-x")=-35 
         }  )

        $($('.post-lists-body')[2]).hover( function(){ anima_timer_2= handle_background_anima('background_anima_div')  } , 
        ()=>{  clearInterval(anima_timer_2) 
            // $("#background_anima_div").css("background-position-x")=-35 
         }  )

    </script>




    {% if paginator.total_pages > 1 %}
    <div class="lists-navigator clearfix">
        <ol class="page-navigator">
            {% if paginator.previous_page %}
            <li class="prev"><a href="{{ paginator.previous_page_path | relative_url }}">←</a></li>
            {% endif %} {% for page in (1..paginator.total_pages) %}
            <li {% if page==paginator.page %} class="current" {% endif %}>
                <a href="{% if page == 1 %}{{  '/' | prepend: site.baseurl }}{% else %}{{ site.paginate_path | relative_url | replace: ':num', page }}{% endif %}">{{
                    page }}</a>
            </li>
            {% endfor %} {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path | relative_url }}">→</a></li>
            {% endif %}
        </ol>
    </div>
    {% endif %}

    <!-- <div id="body_div_2" style="background-image: url(&quot;bg03.png&quot;);z-index: -1;position: absolute;inset: 0px;opacity: 0;background-size: auto;background-repeat: no-repeat;"> -->
    </div>


</div>