<script>





    function lerp_color(x) {


    }


    
    var ramdon_number=Math.floor(Math.random()*1000)
    document.body.style.setProperty("--changeColor", `hsla(${ramdon_number+0/ 1000 *0.1  * 360} ,60%,50%,0.6)`)


    $(".main-content")[0].addEventListener("mousemove",

        (e) => {

            var speed=0.1
            var width=e.target.getBoundingClientRect().right-e.target.getBoundingClientRect().left;

            document.body.style.setProperty("--changeColor", `hsla(${(ramdon_number+e.clientX+e.clientY) / 300 *speed  * 360} ,60%,50%,0.6)`)
            // console.log(e.clientX)
        }
    )









    console.log("111")


</script>