

.su{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.aa_50_grid{
    --column-count:5;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(var(--column-count),1fr);
    width: auto;
    /* align-items: baseline; */
}

.su_50_grid{
    --column-count:10;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(var(--column-count),1fr);
    width: auto;
}

.aa-grid-img{
    
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#zlg-aa-body{

    max-width: 78%;

}