

@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: "AGENCY";
    src: url("../font/AGENCYR.TTF");
}

@font-face {
    font-family: "WEBDINGS";
    src: url("../font/webdings.ttf");
}

@font-face {
    font-family: "SY-LIGHT";
    src: url("../font/Noto_Serif_SC/NotoSerifSC-Light.otf");
}
@font-face {
    font-family: "LXGW";
    src: url("../font/LXGWBright-Regular.ttf");
}

html{
    background-color: black;
    color: white;
    display: block;
    font-family: "AGENCY","SY-LIGHT";
    
}

a {
    color: #df1616;
}

h1{
    font-size: 60px;
    color: #8000ff;
    
}

.zlg-body{

    /* margin-top: 10%; */
    padding-top: 2%;
    padding-bottom: 10%;
    max-width: 61%;
    margin: auto;
    margin-top: 10%;
    border: 1px dashed #0262d7 ;
    align-items: center;
    
}

.div-v1{
    
    margin: auto auto;
    width: auto;
    text-align: center;
    margin-bottom: 20px;
    /* -webkit-box-reflect: below 0px  linear-gradient(transparent,rgba(254, 24, 24, 0.333)); */
}


:root{
    --box-bg-cl-1:#47028b;
    --box-bg-cl-2:#8e0fcd;
    --box-bg-ratio-1:20%;
    --box-bg-ratio-2:22%;
}



.zlg-index-v1{
    border: 1px solid #900000 ;
    background: linear-gradient(90deg,
    transparent 10%,
    transparent var(--box-bg-ratio-1),
    var(--box-bg-cl-1) var(--box-bg-ratio-1),
    var(--box-bg-cl-1)  var(--box-bg-ratio-2),
    var(--box-bg-cl-2) var(--box-bg-ratio-2),
    var(--box-bg-cl-2)  var(--box-bg-ratio-2),
    var(--box-bg-cl-2)  100%,
    /* transparent 60%, */
    transparent 100%
    );

    width: 80%;
    font-size: 50px;
    margin: auto auto;
    color: #df1616;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

}

a:hover{

    text-decoration: underline;
    /* transform: scale(1.5); */
    font-size: 60px;
    transition: all 0.65s ease 0s;
    width: 90%;
}




